<div class="mb-4 border-b border-gray-200 ">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="drawerTabs" data-tabs-toggle="#drawerTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2" id="currentproperty-tab" data-tabs-target="#currentpropertyTabContent" type="button" role="tab" aria-controls="currentproperty" aria-selected="false">Property</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="details-tab" data-tabs-target="#detailsTabContent" type="button" role="tab" aria-controls="details" aria-selected="false">Details</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="local-tab" data-tabs-target="#localTabContent" type="button" role="tab" aria-controls="local" aria-selected="false">Local Area</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="local-tab" data-tabs-target="#neighbourhoodTabContent" type="button" role="tab" aria-controls="neighbourhood" aria-selected="false">Statistics</button>
        </li>
    </ul>
</div>