<div class="hidden flex flex-col gap-4" id="detailsTabContent" role="tabpanel" aria-labelledby="details-tab">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mr-10 hidden">
        <h5 id="drawer-longitude" class="inline-flex items-center mb-4 text-sm font-light text-gray-500 ml-auto" data-lng="">LNG</h5>
        <h5 id="drawer-latitude" class="inline-flex items-center mb-4 text-sm font-light text-gray-500 ml-auto" data-lat="">LAT</h5>
    </div>
    
    <div class="flex flex-col gap-2 mt-4">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Property Details</h5>
        <p class="text-xs text-gray-500 mb-4">In-depth calculated data and information on property and surrounding area.</p>
    </div>


    <div class="text-lg mb-2 text-gray-800">Property Location</div>



    <div class="flex flex-col gap-2 p-4 bg-orange-100 rounded-xl mb-4 overflow-scroll">

        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Metric
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Value
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Link
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b  " id="details-property-address-house-number" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-address-road" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-address-neighbourhood" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-address-district" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-address-city" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-address-county" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-address-postcode" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-postcode" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-longitude" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-latitude" data-loaded=""></tr>
            </tbody>
        </table>
    </div>


    <div class="text-lg mb-2 text-gray-800">Extra Information</div>

    <div class="flex flex-col gap-2 p-4 bg-orange-100 rounded-xl mb-4 overflow-scroll">

        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Metric
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Value
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Link
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b  " id="details-property-area" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-broadband2" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-council-tax" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-epc" data-loaded=""></tr>
                <tr class="bg-white border-b  " id="details-property-tenure" data-loaded=""></tr>
            </tbody>
        </table>
    </div>

    <div class="text-lg mb-2 text-gray-800">Schools</div>
    <div class="flex flex-col gap-2 p-4 bg-orange-100 rounded-xl mb-4 overflow-scroll">
        <div class="bg-white border-b" id="details-property-schools" data-loaded=""></div>
    </div>

    <div class="text-lg mb-2 text-gray-800">Transport</div>
    <div class="flex flex-col gap-2 p-4 bg-orange-100 rounded-xl mb-4 overflow-scroll">
        <div class="bg-white border-b" id="details-property-trains" data-loaded=""></div>
    </div>

    <div id="details-property-crimes" data-loaded="" class="mb-4"></div>

    <div id="details-property-broadband" data-loaded="" class="mb-4"></div>
</div>