<div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-gray-800 capitalize">Saved Settings</h5>
        <p class="text-xs text-gray-500">This saves searches, excluded ids, highlighted properties, and text highlights.</p>
    </div>

    <div>
        <div id="saved-searches-list" class="w-full min-h-24 flex flex-col flex-wrap gap-1 overflow-x-scroll mb-2"></div>

        <button id="new-save-entry" type="button" data-modal-toggle="popup-modal-save-searches" class="bg-orange-200 text-emerald-900 hover:bg-orange-300 fill-emerald-900 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" >
            <svg class="w-4 h-4 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z"/></svg>
            Create New Save
        </button>
    </div>

</div>