<div id="settings" class="overflow-y-auto fixed z-40 p-4 w-1/2 h-screen bg-amber-50 -translate-x-full" tabindex="-1" aria-labelledby="settings" aria-hidden="true">

    <button id="settings-button-close" type="button" data-drawer-dismiss="settings" aria-controls="settings" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center isHidden" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close menu</span>
    </button>

    
    <!-- 
    ┌─────────────────────────────────────┐
    │          Drawer Left Tabs           │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_left/tabs.html')}


    <!-- 
    ┌─────────────────────────────────────┐
    │               Search                │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_left/search.html')}


    <!-- 
    ┌─────────────────────────────────────┐
    │               Layers                │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_left/layers.html')}


    <!-- 
    ┌─────────────────────────────────────┐
    │             Preferences             │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_left/preferences.html')}


    <!-- 
    ┌─────────────────────────────────────┐
    │                Admin                │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_left/admin.html')}

    <!-- 
    ┌─────────────────────────────────────┐
    │               Filters               │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_left/filters.html')}

</div>