<div data-drawer-target="drawer" data-drawer-placement="right" class="invisible hidden">Used to init drawer</div>
<div id="drawer" class="overflow-y-auto fixed z-40 p-4 w-1/2 h-screen bg-amber-50 translate-x-full" tabindex="-1" aria-labelledby="drawer-label" >
    
    <button type="button" data-drawer-dismiss="drawer" aria-controls="drawer" aria-controls="drawer-navigation" class="absolute top-2.5 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex items-center  z-10" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close menu</span>
    </button>

    <h5 id="drawer-title" class="inline-flex items-center text-base font-semibold text-emerald-900 capitalize text-2xl mt-2"></h5>

    <div class="mb-4 text-sm font-light text-emerald-900">
        <span id="drawer-source" class=" capitalize" data-source="">Source</span> ID : 
        <span id="drawer-id" class="" data-id="">ID</span>
    </div>

    <!-- 
    ┌─────────────────────────────────────┐
    │                Tabs                 │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_right/tabs.html')}


    <!-- 
    ┌─────────────────────────────────────┐
    │              Property               │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_right/property.html')}


    <!-- 
    ┌─────────────────────────────────────┐
    │               Details               │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_right/details.html')}



    <!-- 
    ┌─────────────────────────────────────┐
    │             Local Area              │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_right/local_area.html')}


    <!-- 
    ┌─────────────────────────────────────┐
    │            Neighbourhood            │
    └─────────────────────────────────────┘
    -->
    ${require('./drawer_right/statistics.html')}

</div>