<div class="mb-4 border-b border-gray-200 ">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="settingsTabs" data-tabs-toggle="#settingsTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 text-emerald-600 hover:text-emerald-600 dark:text-emerald-500 dark:hover:text-emerald-500 border-emerald-600 dark:border-emerald-500" id="search-tab" data-tabs-target="#searchTabContent" type="button" role="tab" aria-controls="property" aria-selected="false">Search</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="layers-tab" data-tabs-target="#layersTabContent" type="button" role="tab" aria-controls="layers" aria-selected="false">Overlays</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="preferences-tab" data-tabs-target="#preferencesTabContent" type="button" role="tab" aria-controls="preferences" aria-selected="false">Preferences</button>
        </li>
        <li role="mr-2 presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="filters-tab" data-tabs-target="#filtersTabContent" type="button" role="tab" aria-controls="filters" aria-selected="false">Filters</button>
        </li>
        <li role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="admin-tab" data-tabs-target="#adminTabContent" type="button" role="tab" aria-controls="admin" aria-selected="false">Admin</button>
        </li>
    </ul>
</div>