<div class="hidden" id="adminTabContent" role="tabpanel" aria-labelledby="admin-tab">
    <div class="flex flex-col gap-4">

        <div class="flex flex-col gap-2 mt-4">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Administration</h5>
            <p class="text-xs text-gray-500 mb-4">Save, import, export and reset the application.</p>
        </div>

        <!-- File Management  -->
        ${require('./admin/file_management.html')}

        <!-- Import/Export  -->
        ${require('./admin/import_export.html')}

        <!-- Danger Zone  -->
        ${require('./admin/danger_zone.html')}

    </div>
</div>