<div class="hidden" id="filtersTabContent" role="tabpanel" aria-labelledby="filters-tab">
    <div class="flex flex-col gap-4">

        <div class="flex flex-col gap-2 mt-4">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Filters</h5>
            <p class="text-xs text-gray-500 mb-4">Careful! This polls every result. May be rate-limited.</p>
        </div>

        <!-- Targets  -->
        ${require('./filters/targets.html')}

        <!-- Parameters  -->
        ${require('./filters/parameters.html')}

        <!-- Actions  -->
        ${require('./filters/actions.html')}
        
    </div>
</div>