<div class="flex flex-col gap-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-rows gap-8 relative">

        <div class="flex flex-col gap-2">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Excluded IDs</h5>
            <p class="text-xs text-gray-500">These are all the properties you have excluded from the map. You can click on any one to see the property and remove it from this list.</p>
        </div>
    
        <div class="flex flex-col gap-2">
            <label for="blacklisttoggle" class="m-auto inline-flex relative items-center cursor-pointer">
                <input type="checkbox" value="" id="blacklisttoggle" class="sr-only peer" checked>
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-gray-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-1 after:left-2 after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-emerald-600"></div>
            </label>
            <p class="col-span-2 text-xs text-gray-500 text-center">Total : <span id="blacklist-count">0</span></p>
        </div>

    </div>
    


    <div id="blacklist" class="w-full h-40 bg-white flex flex-row flex-wrap gap-2 p-2 rounded-lg overflow-y-scroll"></div>

    
    
    <div class="flex flex-row flex-wrap gap-2">
        <button id="truncate-zoopla-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove Zoopla
        </button>
        <button id="truncate-rightmove-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove Rightmove
        </button>
        <button id="truncate-onthemarket-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove OnTheMarket
        </button>
        <button id="truncate-all-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove All
        </button>
    </div>
</div>
