<div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Settings</h5>
        <p class="text-xs text-gray-500">Change global settings for the application.</p>
    </div>

    <label for="introModalToggle" class="inline-flex relative items-center cursor-pointer">
        <input type="checkbox" value="" id="introModalToggle" class="sr-only peer">
        <div class="w-11 h-6 bg-red-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-emerald-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-700">Disable intro modal.</span>
    </label>

    <label for="introTutorialModalToggle" class="inline-flex relative items-center cursor-pointer">
        <input type="checkbox" value="" id="introTutorialModalToggle" class="sr-only peer">
        <div class="w-11 h-6 bg-red-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-emerald-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-700">Disable first-time tutorial modal.</span>
    </label>
</div>