<div id="settings" class="overflow-y-auto fixed z-40 p-4 w-1/2 h-screen bg-amber-50 -translate-x-full" tabindex="-1" aria-labelledby="settings" aria-hidden="true">

    <button id="settings-button-close" type="button" data-drawer-dismiss="settings" aria-controls="settings" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center isHidden" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close menu</span>
    </button>

    
    <!-- 
    ┌─────────────────────────────────────┐
    │          Drawer Left Tabs           │
    └─────────────────────────────────────┘
    -->
    <div class="mb-4 border-b border-gray-200 ">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="settingsTabs" data-tabs-toggle="#settingsTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 text-emerald-600 hover:text-emerald-600 dark:text-emerald-500 dark:hover:text-emerald-500 border-emerald-600 dark:border-emerald-500" id="search-tab" data-tabs-target="#searchTabContent" type="button" role="tab" aria-controls="property" aria-selected="false">Search</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="layers-tab" data-tabs-target="#layersTabContent" type="button" role="tab" aria-controls="layers" aria-selected="false">Overlays</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="preferences-tab" data-tabs-target="#preferencesTabContent" type="button" role="tab" aria-controls="preferences" aria-selected="false">Preferences</button>
        </li>
        <li role="mr-2 presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="filters-tab" data-tabs-target="#filtersTabContent" type="button" role="tab" aria-controls="filters" aria-selected="false">Filters</button>
        </li>
        <li role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="admin-tab" data-tabs-target="#adminTabContent" type="button" role="tab" aria-controls="admin" aria-selected="false">Admin</button>
        </li>
    </ul>
</div>


    <!-- 
    ┌─────────────────────────────────────┐
    │               Search                │
    └─────────────────────────────────────┘
    -->
    <div id="settingsTabContent">
    <div class="hidden" id="searchTabContent" role="tabpanel" aria-labelledby="search-tab">

        <div class="flex flex-col gap-4">

            <div class="flex flex-col gap-2 mt-4">
                <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Site Searches</h5>
                <p class="text-xs text-gray-500 mb-4">Retrieve markers from property sites.</p>
            </div>


            <div class="flex flex-col gap-2">

                <div class="font-light flex flex-row gap-4">
                    <div class="flex flex-col gap-8 w-full">

                        <!-- Zoopla  -->
                        <div class="flex flex-col gap-2 p-4 bg-orange-100 rounded-lg">

    <div class="flex flex-row gap-4">
        <div>
            <h5 class="col-span-2 inline-flex items-center text-sm font-semibold text-purple-600 capitalize">Zoopla</h5>
            <p class="col-span-2 text-xs text-gray-500 mb-4">Create a search on zoopla.co.uk, switch to map-view and paste the URL into the box below.</p>
        </div>

        <div class="ml-auto my-auto flex flex-row gap-8 h-6 mr-4">
            <label for="zooplaInputToggle" class="inline-flex relative items-center cursor-pointer">
                <input type="checkbox" value="" id="zooplaInputToggle" class="sr-only peer" checked>
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-stone-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-emerald-600"></div>
            </label>
    
            <div id="zooplaInputCount" class="text-purple-500 text-sm my-auto"></div>
        </div>
    </div>

    <div class="flex flex-row gap-4">
        <input id="zooplaInput" rows="3" class="w-full rounded border-0 rounded bg-white text-emerald-900 focus:ring-emerald-500 focus:border-emerald-500" type="text" placeholder="paste map URL from zoopla"></input>

        <button id="zoopla-search" class="ml-auto block text-white bg-purple-700 hover:bg-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
            <svg class="w-4 h-4 fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
            </svg>
        </button>

        <button id="zoopla-goto-search" class="ml-auto block text-white hover:bg-purple-800 font-medium rounded-lg text-sm px-2 py-2.5 text-center" type="button">
            <svg class="w-4 h-4 fill-gray-600" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"/></svg>
        </button>
    </div>

</div>

                        <!-- Rightmove  -->
                        <div class="flex flex-col gap-2 p-4 bg-orange-100 rounded-lg">

    <div class="flex flex-row gap-4">
        <div>
            <h5 class="col-span-2 inline-flex items-center text-sm font-semibold text-cyan-600 capitalize">Rightmove</h5>
            <p class="col-span-2 text-xs text-gray-500 mb-4">Create a search on rightmove.co.uk, switch to map-view and paste the URL into the box below. (Max 500 markers)</p>
        </div>

        <div class="ml-auto my-auto flex flex-row gap-8 h-6 mr-4">
            <label for="rightmoveInputToggle" class="inline-flex relative items-center cursor-pointer">
                <input type="checkbox" value="" id="rightmoveInputToggle" class="sr-only peer" checked>
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-stone-300  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-emerald-600"></div>
            </label>
    
            <div id="rightmoveInputCount" class="text-cyan-500 text-sm my-auto"></div>
        </div>
    </div>

    <div class="flex flex-row gap-4">
        <input id="rightmoveInput" rows="3" class="w-full rounded border-0 rounded bg-white text-emerald-900 focus:ring-emerald-500 focus:border-emerald-500" type="text" placeholder="paste map URL from rightmove"></input>

        <button id="rightmove-search" class="ml-auto block text-white bg-cyan-700 hover:bg-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
            <svg class="w-4 h-4 fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
            </svg>
        </button>

        <button id="rightmove-goto-search" class="ml-auto block text-white hover:bg-cyan-600 font-medium rounded-lg text-sm px-2 py-2.5 text-center" type="button">
            <svg class="w-4 h-4 fill-gray-600" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"/></svg>
        </button>
    </div>

</div>

                        <!-- OnTheMarket  -->
                        <div class="flex flex-col gap-2 p-4 bg-orange-100 rounded-lg">

    <div class="flex flex-row gap-4">
        <div>
            <h5 class="col-span-2 inline-flex items-center text-sm font-semibold text-rose-600 capitalize">OnTheMarket</h5>
            <p class="col-span-2 text-xs text-gray-500 mb-4">Create a search on onthemarket.com, switch to map-view and paste the URL into the box below.</p>
        </div>

        <div class="ml-auto my-auto flex flex-row gap-8 h-6 mr-4">
            <label for="onthemarketInputToggle" class="inline-flex relative items-center cursor-pointer">
                <input type="checkbox" value="" id="onthemarketInputToggle" class="sr-only peer" checked>
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-stone-300  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-emerald-600"></div>
            </label>
    
            <div id="onthemarketInputCount" class="text-rose-500 text-sm my-auto"></div>
        </div>
    </div>

    <div class="flex flex-row gap-4">
        <input id="onthemarketInput" rows="3" class="w-full rounded border-0 rounded bg-white text-emerald-900 focus:ring-emerald-500 focus:border-emerald-500" type="text" placeholder="paste map URL from onTheMarket"></input>

        <button id="onthemarket-search" class="ml-auto block text-white bg-rose-700 hover:bg-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
            <svg class="w-4 h-4 fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
            </svg>
        </button>

        <button id="onthemarket-goto-search" class="ml-auto block text-white hover:bg-rose-600 font-medium rounded-lg text-sm px-2 py-2.5 text-center" type="button">
            <svg class="w-4 h-4 fill-gray-600" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"/></svg>
        </button>
    </div>

</div>

                    </div>

                </div>

            </div>


            <div class="flex flex-row gap-2 flex-wrap">
                
                <button id="refresh-page" type="button" class="w-1/2 md:w-1/4 lg:1/6 fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 font-regular rounded-lg text-sm p-3 text-center mb-2 flex flex-col gap-1">
                    <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z"/></svg>
                    <span class="m-auto">Refresh Page</span>
                </button>
                
                <div class="flex flex-col gap-1 bg-orange-100 rounded-xl mb-2 ml-auto px-8">
                    <div class="m-auto text-emerald-900">
                        <div>Total Markers</div>
                        <div id="totalMarkerCount" class="text-center text-emerald-700"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


    <!-- 
    ┌─────────────────────────────────────┐
    │               Layers                │
    └─────────────────────────────────────┘
    -->
    <div class="hidden" id="layersTabContent" role="tabpanel" aria-labelledby="layers-tab">
    <div class="flex flex-col gap-2">

        <div class="flex flex-col gap-2 mt-4">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Layer Visibility</h5>
            <p class="text-xs text-gray-500 mb-4">Toggle various layers on or off.</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 my-4">

            <button id="toggle-tube-lines" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15,12C15,10.7 14.16,9.6 13,9.18V6.82C14.16,6.4 15,5.3 15,4A3,3 0 0,0 12,1A3,3 0 0,0 9,4C9,5.3 9.84,6.4 11,6.82V9.19C9.84,9.6 9,10.7 9,12C9,13.3 9.84,14.4 11,14.82V17.18C9.84,17.6 9,18.7 9,20A3,3 0 0,0 12,23A3,3 0 0,0 15,20C15,18.7 14.16,17.6 13,17.18V14.82C14.16,14.4 15,13.3 15,12M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M12,21A1,1 0 0,1 11,20A1,1 0 0,1 12,19A1,1 0 0,1 13,20A1,1 0 0,1 12,21Z"/>
                </svg>
                <span class="m-auto">London Tube Lines</span>
            </button>

            <button id="toggle-tube-stations" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5,15A1,1 0 0,1 9.5,16A1,1 0 0,1 8.5,17A1,1 0 0,1 7.5,16A1,1 0 0,1 8.5,15M7,9H17V14H7V9M15.5,15A1,1 0 0,1 16.5,16A1,1 0 0,1 15.5,17A1,1 0 0,1 14.5,16A1,1 0 0,1 15.5,15M18,15.88V9C18,6.38 15.32,6 12,6C9,6 6,6.37 6,9V15.88A2.62,2.62 0 0,0 8.62,18.5L7.5,19.62V20H9.17L10.67,18.5H13.5L15,20H16.5V19.62L15.37,18.5C16.82,18.5 18,17.33 18,15.88M17.8,2.8C20.47,3.84 22,6.05 22,8.86V22H2V8.86C2,6.05 3.53,3.84 6.2,2.8C8,2.09 10.14,2 12,2C13.86,2 16,2.09 17.8,2.8Z"/>
                </svg>
                <span class="m-auto">London Tube Stations</span>
            </button>

            <button id="toggle-train-lines" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600   fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18,11H14.82C14.4,9.84 13.3,9 12,9C10.7,9 9.6,9.84 9.18,11H6C5.67,11 4,10.9 4,9V8C4,6.17 5.54,6 6,6H16.18C16.6,7.16 17.7,8 19,8A3,3 0 0,0 22,5A3,3 0 0,0 19,2C17.7,2 16.6,2.84 16.18,4H6C4.39,4 2,5.06 2,8V9C2,11.94 4.39,13 6,13H9.18C9.6,14.16 10.7,15 12,15C13.3,15 14.4,14.16 14.82,13H18C18.33,13 20,13.1 20,15V16C20,17.83 18.46,18 18,18H7.82C7.4,16.84 6.3,16 5,16A3,3 0 0,0 2,19A3,3 0 0,0 5,22C6.3,22 7.4,21.16 7.82,20H18C19.61,20 22,18.93 22,16V15C22,12.07 19.61,11 18,11M19,4A1,1 0 0,1 20,5A1,1 0 0,1 19,6A1,1 0 0,1 18,5A1,1 0 0,1 19,4M5,20A1,1 0 0,1 4,19A1,1 0 0,1 5,18A1,1 0 0,1 6,19A1,1 0 0,1 5,20Z"/>
                </svg>
                <span class="m-auto">London Train Lines</span>
            </button>

            <button id="toggle-train-stations" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600   fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18,11H14.82C14.4,9.84 13.3,9 12,9C10.7,9 9.6,9.84 9.18,11H6C5.67,11 4,10.9 4,9V8C4,6.17 5.54,6 6,6H16.18C16.6,7.16 17.7,8 19,8A3,3 0 0,0 22,5A3,3 0 0,0 19,2C17.7,2 16.6,2.84 16.18,4H6C4.39,4 2,5.06 2,8V9C2,11.94 4.39,13 6,13H9.18C9.6,14.16 10.7,15 12,15C13.3,15 14.4,14.16 14.82,13H18C18.33,13 20,13.1 20,15V16C20,17.83 18.46,18 18,18H7.82C7.4,16.84 6.3,16 5,16A3,3 0 0,0 2,19A3,3 0 0,0 5,22C6.3,22 7.4,21.16 7.82,20H18C19.61,20 22,18.93 22,16V15C22,12.07 19.61,11 18,11M19,4A1,1 0 0,1 20,5A1,1 0 0,1 19,6A1,1 0 0,1 18,5A1,1 0 0,1 19,4M5,20A1,1 0 0,1 4,19A1,1 0 0,1 5,18A1,1 0 0,1 6,19A1,1 0 0,1 5,20Z"/>
                </svg>
                <span class="m-auto">London Train Stations</span>
            </button>

            <button id="toggle-national-rail" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18,10H6V5H18M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M4,15.5A3.5,3.5 0 0,0 7.5,19L6,20.5V21H18V20.5L16.5,19A3.5,3.5 0 0,0 20,15.5V5C20,1.5 16.42,1 12,1C7.58,1 4,1.5 4,5V15.5Z"/>
                </svg>
                <span class="m-auto">National Rail Lines</span>
            </button>

            <button id="toggle-national-rail-stations" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18,10H6V5H18M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M4,15.5A3.5,3.5 0 0,0 7.5,19L6,20.5V21H18V20.5L16.5,19A3.5,3.5 0 0,0 20,15.5V5C20,1.5 16.42,1 12,1C7.58,1 4,1.5 4,5V15.5Z"/>
                </svg>
                <span class="m-auto">National Rail Stations</span>
            </button>

            <button id="toggle-bus-routes" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 7V16C22 16.71 21.62 17.36 21 17.72V19.25C21 19.66 20.66 20 20.25 20H19.75C19.34 20 19 19.66 19 19.25V18H12V19.25C12 19.66 11.66 20 11.25 20H10.75C10.34 20 10 19.66 10 19.25V17.72C9.39 17.36 9 16.71 9 16V7C9 4 12 4 15.5 4S22 4 22 7M13 15C13 14.45 12.55 14 12 14S11 14.45 11 15 11.45 16 12 16 13 15.55 13 15M20 15C20 14.45 19.55 14 19 14S18 14.45 18 15 18.45 16 19 16 20 15.55 20 15M20 7H11V11H20V7M7 9.5C6.97 8.12 5.83 7 4.45 7.05C3.07 7.08 1.97 8.22 2 9.6C2.03 10.77 2.86 11.77 4 12V20H5V12C6.18 11.76 7 10.71 7 9.5Z"/>
                </svg>
                <span class="m-auto">London Bus Routes</span>
            </button>

            <button id="toggle-supermarkets" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"/>
                </svg>
                <span class="m-auto">London Supermarkets</span>
            </button>

            <button id="toggle-universities" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12,3L1,9L12,15L21,10.09V17H23V9M5,13.18V17.18L12,21L19,17.18V13.18L12,17L5,13.18Z"/>
                </svg>
                <span class="m-auto">University</span>
            </button>

            <button id="toggle-schools" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 3L1 9L5 11.18V17.18L12 21L19 17.18V11.18L21 10.09V17H23V9L12 3M18.82 9L12 12.72L5.18 9L12 5.28L18.82 9M17 16L12 18.72L7 16V12.27L12 15L17 12.27V16Z"/>
                </svg>
                <span class="m-auto">Schools</span>
            </button>

            <button id="toggle-schools-childcenters" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 3L1 9L5 11.18V17.18L12 21L19 17.18V11.18L21 10.09V17H23V9L12 3M18.82 9L12 12.72L5.18 9L12 5.28L18.82 9M17 16L12 18.72L7 16V12.27L12 15L17 12.27V16Z"/>
                </svg>
                <span class="m-auto">Child Centers</span>
            </button>

            <button id="toggle-crime-boroughs" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 4L20 2C18.85 2.64 17.4 3 16 3C14.6 3 13.14 2.63 12 2C10.86 2.63 9.4 3 8 3C6.6 3 5.15 2.64 4 2L2 4C2 4 4 6 4 8S2 14 2 16C2 20 12 22 12 22S22 20 22 16C22 14 20 10 20 8S22 4 22 4M15.05 16.45L11.97 14.59L8.9 16.45L9.72 12.95L7 10.61L10.58 10.3L11.97 7L13.37 10.29L16.95 10.6L14.23 12.94L15.05 16.45Z"/>
                </svg>
                <span class="m-auto">Crime Boroughs</span>
            </button>

            <button id="toggle-boroughs" data-loaded="" type="button" class="flex flex-col w-full text-white ring-amber-600    fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
                <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 2H4C2.9 2 2 2.9 2 4V20C2 21.11 2.9 22 4 22H20C21.11 22 22 21.11 22 20V4C22 2.9 21.11 2 20 2M4 6L6 4H10.9L4 10.9V6M4 13.7L13.7 4H18.6L4 18.6V13.7M20 18L18 20H13.1L20 13.1V18M20 10.3L10.3 20H5.4L20 5.4V10.3Z"/>
                </svg>
                <span class="m-auto">Boroughs</span>
            </button>

        </div>
    </div>
</div>


    <!-- 
    ┌─────────────────────────────────────┐
    │             Preferences             │
    └─────────────────────────────────────┘
    -->
    <div class="hidden" id="preferencesTabContent" role="tabpanel" aria-labelledby="preferences-tab">
    <div class="flex flex-col gap-4">

        <div class="flex flex-col gap-2 mt-4">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Features and Settings</h5>
            <p class="text-xs text-gray-500 mb-4">Configure various advanced feautres of the application.</p>
        </div>

        <!-- Excluded IDs  -->
        <div class="flex flex-col gap-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-rows gap-8 relative">

        <div class="flex flex-col gap-2">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Excluded IDs</h5>
            <p class="text-xs text-gray-500">These are all the properties you have excluded from the map. You can click on any one to see the property and remove it from this list.</p>
        </div>
    
        <div class="flex flex-col gap-2">
            <label for="blacklisttoggle" class="m-auto inline-flex relative items-center cursor-pointer">
                <input type="checkbox" value="" id="blacklisttoggle" class="sr-only peer" checked>
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-gray-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-1 after:left-2 after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-emerald-600"></div>
            </label>
            <p class="col-span-2 text-xs text-gray-500 text-center">Total : <span id="blacklist-count">0</span></p>
        </div>

    </div>
    


    <div id="blacklist" class="w-full h-40 bg-white flex flex-row flex-wrap gap-2 p-2 rounded-lg overflow-y-scroll"></div>

    
    
    <div class="flex flex-row flex-wrap gap-2">
        <button id="truncate-zoopla-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove Zoopla
        </button>
        <button id="truncate-rightmove-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove Rightmove
        </button>
        <button id="truncate-onthemarket-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove OnTheMarket
        </button>
        <button id="truncate-all-blacklist" data-toggle="" type="button" class="text-white bg-red-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  font-regular rounded-lg text-xs p-3 py-1 text-center">
            Remove All
        </button>
    </div>
</div>

        
        <!-- Text-Highlighter  -->
        <div class="grid grid-cols-2 gap-4 bg-orange-100 p-4 rounded-xl">
    
    <div class="col-span-2 flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Text Highlighter</h5>
        <p class="text-xs text-gray-500">This feature will highlight any positive or negative words within the description of a property.</p>
    </div>

    <div class="relative">
        <textarea id="inspector-positive" spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-emerald-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-emerald-500 focus:border-emerald-500 " placeholder="Words to highlight in description. (Comma Separated)"></textarea>
        <label for="inspector-positive" class="absolute text-sm text-white rounded duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-emerald-700  px-2 peer-focus:px-2 peer-focus:text-white-500  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Text Searcher - Postives</label>
    </div>

    <div class="relative">
        <textarea id="inspector-negative" spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Words to highlight in description. (Comma Separated)"></textarea>
        <label for="inspector-negative" class="absolute text-sm text-white rounded duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-amber-700    px-2 peer-focus:px-2 peer-focus:text-white-500  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Text Searcher - Negatives</label>
    </div>
</div>
    
        <!-- Map Colours  -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 bg-orange-100 p-4 rounded-xl">

    <div class="col-span-4 flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Map Colours</h5>
        <p class="text-xs text-gray-500">Toggle the colour of the map and features.</p>
    </div>

    <button id="filter-monochrome-toggle" data-toggle="" type="button" class="fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    w-full text-white font-regular rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Monochrome Map</button>
    <button id="filter-invert-toggle" data-toggle="" type="button" class="fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    w-full text-white font-regular rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Invert Map</button>
    <button id="filter-dark-toggle" data-toggle="" type="button" class="fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    w-full text-white font-regular rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Dark Map</button>
    <button id="filter-sepia-toggle" data-toggle="" type="button" class="fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700    w-full text-white font-regular rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Sepia Map</button>
</div>

        <!-- Settings  -->
        <div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Settings</h5>
        <p class="text-xs text-gray-500">Change global settings for the application.</p>
    </div>

    <label for="introModalToggle" class="inline-flex relative items-center cursor-pointer">
        <input type="checkbox" value="" id="introModalToggle" class="sr-only peer">
        <div class="w-11 h-6 bg-red-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-emerald-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-700">Disable intro modal.</span>
    </label>

    <label for="introTutorialModalToggle" class="inline-flex relative items-center cursor-pointer">
        <input type="checkbox" value="" id="introTutorialModalToggle" class="sr-only peer">
        <div class="w-11 h-6 bg-red-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-emerald-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-700">Disable first-time tutorial modal.</span>
    </label>
</div>

    </div>
</div>


    <!-- 
    ┌─────────────────────────────────────┐
    │                Admin                │
    └─────────────────────────────────────┘
    -->
    <div class="hidden" id="adminTabContent" role="tabpanel" aria-labelledby="admin-tab">
    <div class="flex flex-col gap-4">

        <div class="flex flex-col gap-2 mt-4">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Administration</h5>
            <p class="text-xs text-gray-500 mb-4">Save, import, export and reset the application.</p>
        </div>

        <!-- File Management  -->
        <div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-gray-800 capitalize">Saved Settings</h5>
        <p class="text-xs text-gray-500">This saves searches, excluded ids, highlighted properties, and text highlights.</p>
    </div>

    <div>
        <div id="saved-searches-list" class="w-full min-h-24 flex flex-col flex-wrap gap-1 overflow-x-scroll mb-2"></div>

        <button id="new-save-entry" type="button" data-modal-toggle="popup-modal-save-searches" class="bg-orange-200 text-emerald-900 hover:bg-orange-300 fill-emerald-900 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" >
            <svg class="w-4 h-4 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z"/></svg>
            Create New Save
        </button>
    </div>

</div>

        <!-- Import/Export  -->
        <div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">
        
    <div class="flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Import / Export Settings</h5>
        <p class="text-xs text-gray-500">Backup all settings to local file.</p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

        <button id="import-all-settings" type="button" data-modal-toggle="popup-modal-import" class="flex flex-col gap-2 w-full fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" >
            <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14,12L10,8V11H2V13H10V16M20,18V6C20,4.89 19.1,4 18,4H6A2,2 0 0,0 4,6V9H6V6H18V18H6V15H4V18A2,2 0 0,0 6,20H18A2,2 0 0,0 20,18Z"/></svg>
            <span class="m-auto">Import All Settings</span>
        </button>

        <a href="#" id="admin-export" class="flex flex-col gap-2 w-full fill-white text-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700  rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23,12L19,8V11H10V13H19V16M1,18V6C1,4.89 1.9,4 3,4H15A2,2 0 0,1 17,6V9H15V6H3V18H15V15H17V18A2,2 0 0,1 15,20H3A2,2 0 0,1 1,18Z"/></svg>
            <span class="m-auto">Export All Settings</span>
        </a>

        <button id="import-colour-palette" type="button" data-modal-toggle="popup-modal-import-palette" class="flex flex-col gap-2 w-full fill-white text-white bg-emerald-700 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" >
            <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,9A1.5,1.5 0 0,1 19,10.5A1.5,1.5 0 0,1 17.5,12M14.5,8A1.5,1.5 0 0,1 13,6.5A1.5,1.5 0 0,1 14.5,5A1.5,1.5 0 0,1 16,6.5A1.5,1.5 0 0,1 14.5,8M9.5,8A1.5,1.5 0 0,1 8,6.5A1.5,1.5 0 0,1 9.5,5A1.5,1.5 0 0,1 11,6.5A1.5,1.5 0 0,1 9.5,8M6.5,12A1.5,1.5 0 0,1 5,10.5A1.5,1.5 0 0,1 6.5,9A1.5,1.5 0 0,1 8,10.5A1.5,1.5 0 0,1 6.5,12M12,3A9,9 0 0,0 3,12A9,9 0 0,0 12,21A1.5,1.5 0 0,0 13.5,19.5C13.5,19.11 13.35,18.76 13.11,18.5C12.88,18.23 12.73,17.88 12.73,17.5A1.5,1.5 0 0,1 14.23,16H16A5,5 0 0,0 21,11C21,6.58 16.97,3 12,3Z"/></svg>
            <span class="m-auto">Import Colour Palette</span>
        </button>

        <a href="#" id="export-colour-palette" class="flex flex-col gap-2 w-full fill-white text-white bg-emerald-700 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" >
            <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,9A1.5,1.5 0 0,1 19,10.5A1.5,1.5 0 0,1 17.5,12M14.5,8A1.5,1.5 0 0,1 13,6.5A1.5,1.5 0 0,1 14.5,5A1.5,1.5 0 0,1 16,6.5A1.5,1.5 0 0,1 14.5,8M9.5,8A1.5,1.5 0 0,1 8,6.5A1.5,1.5 0 0,1 9.5,5A1.5,1.5 0 0,1 11,6.5A1.5,1.5 0 0,1 9.5,8M6.5,12A1.5,1.5 0 0,1 5,10.5A1.5,1.5 0 0,1 6.5,9A1.5,1.5 0 0,1 8,10.5A1.5,1.5 0 0,1 6.5,12M12,3A9,9 0 0,0 3,12A9,9 0 0,0 12,21A1.5,1.5 0 0,0 13.5,19.5C13.5,19.11 13.35,18.76 13.11,18.5C12.88,18.23 12.73,17.88 12.73,17.5A1.5,1.5 0 0,1 14.23,16H16A5,5 0 0,0 21,11C21,6.58 16.97,3 12,3Z"/></svg>
            <span class="m-auto">Export Colour Palette</span>
        </a>

    </div>

</div>

        <!-- Danger Zone  -->
        <div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Danger Zone</h5>
        <p class="text-xs text-gray-500">Warning! This buttons and controls will remove currently stored settings.</p>
    </div>

    <div class="flex flex-row gap-2 flex-wrap">

        <button id="reset-icon-colours" type="button" data-modal-toggle="popup-modal-customColoursClear" class="fill-white text-white bg-orange-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 flex flex-col gap-1" >
            <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z"/></svg>
            <span class="m-auto">Reset Favourites</span>
        </button>
    
        <button id="clear-all-markers" type="button" class="md:w-1/4 lg:1/6 fill-white text-white bg-orange-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 rounded-lg text-sm p-3 text-center mb-2 flex flex-col gap-1">
            <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9,2C5.14,2 2,5.14 2,9C2,14.25 9,22 9,22C9,22 16,14.25 16,9A7,7 0 0,0 9,2M9,6.5A2.5,2.5 0 0,1 11.5,9A2.5,2.5 0 0,1 9,11.5A2.5,2.5 0 0,1 6.5,9A2.5,2.5 0 0,1 9,6.5M16.58,14.16L15.17,15.58L17.58,18L15.17,20.41L16.58,21.82L19,19.41L21.41,21.82L22.83,20.41L20.41,18L22.83,15.58L21.41,14.16L19,16.58"/></svg>
            <span class="m-auto">Clear Searches</span>
        </button>

        <button id="modal-icon-clear-palette" type="button" class="md:w-1/4 lg:1/6 fill-white text-white bg-orange-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 rounded-lg text-sm p-3 text-center mb-2 flex flex-col gap-1">
            <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,9A1.5,1.5 0 0,1 19,10.5A1.5,1.5 0 0,1 17.5,12M14.5,8A1.5,1.5 0 0,1 13,6.5A1.5,1.5 0 0,1 14.5,5A1.5,1.5 0 0,1 16,6.5A1.5,1.5 0 0,1 14.5,8M9.5,8A1.5,1.5 0 0,1 8,6.5A1.5,1.5 0 0,1 9.5,5A1.5,1.5 0 0,1 11,6.5A1.5,1.5 0 0,1 9.5,8M6.5,12A1.5,1.5 0 0,1 5,10.5A1.5,1.5 0 0,1 6.5,9A1.5,1.5 0 0,1 8,10.5A1.5,1.5 0 0,1 6.5,12M12,3A9,9 0 0,0 3,12A9,9 0 0,0 12,21A1.5,1.5 0 0,0 13.5,19.5C13.5,19.11 13.35,18.76 13.11,18.5C12.88,18.23 12.73,17.88 12.73,17.5A1.5,1.5 0 0,1 14.23,16H16A5,5 0 0,0 21,11C21,6.58 16.97,3 12,3Z"/></svg>
            <span class="m-auto">Clear Palette</span>
        </button>
    </div>
    
</div>

    </div>
</div>

    <!-- 
    ┌─────────────────────────────────────┐
    │               Filters               │
    └─────────────────────────────────────┘
    -->
    <div class="hidden" id="filtersTabContent" role="tabpanel" aria-labelledby="filters-tab">
    <div class="flex flex-col gap-4">

        <div class="flex flex-col gap-2 mt-4">
            <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Filters</h5>
            <p class="text-xs text-gray-500 mb-4">Careful! This polls every result. May be rate-limited.</p>
        </div>

        <!-- Targets  -->
        <div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2 col-span-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Targets</h5>
        <p class="text-xs text-gray-500">Warning! These filters will load every currently listed property. This may lead to lots of requests to the property sites and you may be rate-limited or banned.</p>
    </div>

    <div class="grid grid-cols-3 gap-4 flex-wrap relative">

        <div class="m-auto flex flex-row gap-8 h-6">
            <label for="zoopla-filter-target" class="inline-flex relative items-center cursor-pointer gap-4">
                <input type="checkbox" value="" id="zoopla-filter-target" class="sr-only peer">
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-stone-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-emerald-600"></div>
                <p class="text-xs text-gray-500 my-auto">Filter Zoopla.</p>
            </label>
        </div>

        <div class="m-auto flex flex-row gap-8 h-6">
            <label for="rightmove-filter-target" class="inline-flex relative items-center cursor-pointer gap-4">
                <input type="checkbox" value="" id="rightmove-filter-target" class="sr-only peer" checked>
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-stone-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-emerald-600"></div>
                <p class="text-xs text-gray-500 my-auto">Filter RightMove.</p>
            </label>
        </div>
        
        <div class="m-auto flex flex-row gap-8 h-6">
            <label for="onthemarket-filter-target" class="inline-flex relative items-center cursor-pointer gap-4">
                <input type="checkbox" value="" id="onthemarket-filter-target" class="sr-only peer" checked>
                <div class="w-11 h-6 bg-red-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-stone-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-emerald-600"></div>
                <p class="text-xs text-gray-500 my-auto">Filter OnTheMarket.</p>
            </label>
        </div>

    </div>

</div>

        <!-- Parameters  -->
        <div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2 col-span-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Parameters</h5>
        <p class="text-xs text-gray-500">This uses general REGULAR EXPRESSION SYNTAX. You can use a simple search word or complex regex. e.g. "leasehold" or "/lease/i". All searches are case insensitive by default unless specified in the regex. </p>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Tenure</h5>
        <input id="filter-parameter-tenure" type="text" spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Regular Expression"></textarea>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Title</h5>
        <input id="filter-parameter-title" type="text"  spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Regular Expression"></textarea>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Description</h5>
        <input id="filter-parameter-description" type="text"  spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Regular Expression"></textarea>
    </div>
    
</div>

        <!-- Actions  -->
        <div class="grid grid-cols-3 gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col col-span-3 gap-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Actions</h5>
        <p class="text-xs text-gray-500">What to do with any successful matches to the above parameters. Note that this process runs in the background and takes time to iterate through all properties. It's now safe to close this left draw window.</p>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Change Icon Hex Colour</h5>
        <input id="filter-action-icon-colour" type="text" spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Hex Colour"></textarea>
    </div>
    
    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Change Icon SVG ID Name</h5>
        <input id="filter-action-icon-svg-id" type="text" spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Icon SVG ID name"></textarea>
    </div>

    <button id="filter-action-highlight" data-loaded="" type="button" class="w-full text-white ring-amber-600 fill-white bg-emerald-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 font-regular rounded-lg text-sm p-5 text-center  flex flex-col gap-2">
        <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21,11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1L21,5V11M12,21C15.75,20 19,15.54 19,11.22V6.3L12,3.18L5,6.3V11.22C5,15.54 8.25,20 12,21M11,14H13V17H16V12H18L12,7L6,12H8V17H11V14"/></svg>
        <span class="m-auto">Highlight Property</span>
    </button>

    <button id="filter-action-exclude" type="button" class="col-span-3 fill-white text-white bg-orange-900 hover:bg-orange-300 hover:text-orange-700 hover:fill-orange-700 rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 flex flex-col gap-1" >
        <svg class="w-6 h-6 m-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21,11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1L21,5V11M12,21C15.75,20 19,15.54 19,11.22V6.3L12,3.18L5,6.3V11.22C5,15.54 8.25,20 12,21M11,14H13V17H16V12H18L12,7L6,12H8V17H11V14"/></svg>
        <span class="m-auto">Exclude Property</span>
    </button>
</div>
        
    </div>
</div>

</div>