<div id="popup-modal-intro" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-3xl h-full md:h-auto shadow">

        <!-- Modal content -->
        <div class="relative bg-orange-100 rounded-t-xl">

            <!-- Modal header -->
            <div class="flex justify-between items-start p-5 rounded-t border-b-4 border-orange-300 bg-stone-900">
                <h3 class="flex flex-row gap-4">
                    <img class="w-16 h-16 mx-auto" src="./client/images/icon.png" >
                    <div class="text-xl font-semibold text-orange-100 lg:text-2xl w-full m-auto">Welcome to <span id="version-intro"></span>!</div>
                </h3>
                <button type="button" id="popup-modal-intro-x" class="text-orange-300 bg-transparent hover:bg-orange-700 hover:text-white rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>


            <!-- Modal body -->
            <div class="p-6 flex flex-col gap-4">

                <!-- Authenitcation Code  -->
                <div class="col-span-3 border-b pb-5 dark:border-gray-600">
    <div class="text-sm font-semibold text-emerald-900 capitalize mb-2 flex flex-row gap-2 mr-2">
        <span>Authentication : </span>
        <span class="my-auto text-xs font-light" id="authentication-status"></span>
    </div>
</div>
                
                <div class="grid grid-cols-2 gap-4">

                    <!-- Main Icon  -->
                    <div class="col-span-1 flex flex-col gap-4 bg-orange-100 p-4 rounded-xl text-emerald-900">
    <div class="flex flex-col gap-2">
        <p class="text-base leading-relaxed">New Features:</p>
        <p id="intro-description" class="text-xs leading-relaxed "></p> 
    </div>
</div>

                    <!-- Authenitcation Code  -->
                    <div class="col-span-1 grid grid-cols-2 gap-2">


    <a id="link-panel-quick-start-video" class="p-4 bg-orange-200 hover:bg-orange-300 rounded-lg relative" href="https://www.youtube.com/watch?v=i_9-gN5SbL0">
        <h5 class="text-sm tracking-tight flex flex-row gap-4">
            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M16.5,5.5A2,2 0 0,0 18.5,3.5A2,2 0 0,0 16.5,1.5A2,2 0 0,0 14.5,3.5A2,2 0 0,0 16.5,5.5M12.9,19.4L13.9,15L16,17V23H18V15.5L15.9,13.5L16.5,10.5C17.89,12.09 19.89,13 22,13V11C20.24,11.03 18.6,10.11 17.7,8.6L16.7,7C16.34,6.4 15.7,6 15,6C14.7,6 14.5,6.1 14.2,6.1L9,8.3V13H11V9.6L12.8,8.9L11.2,17L6.3,16L5.9,18L12.9,19.4M4,9A1,1 0 0,1 3,8A1,1 0 0,1 4,7H7V9H4M5,5A1,1 0 0,1 4,4A1,1 0 0,1 5,3H10V5H5M3,13A1,1 0 0,1 2,12A1,1 0 0,1 3,11H7V13H3Z"/></svg>
            Quick-Start
        </h5>    
        <svg class="absolute top-2 right-2 fill-white w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
    </a>



    <a id="link-panel-pricing" class="p-4 bg-orange-200 hover:bg-orange-300 rounded-lg relative" href="https://housequests.com/pricing">
        <h5 class="text-sm tracking-tight flex flex-row gap-4">
            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18,9H16V7H18M18,13H16V11H18M18,17H16V15H18M8,9H6V7H8M8,13H6V11H8M8,17H6V15H8M18,3V5H16V3H8V5H6V3H4V21H6V19H8V21H16V19H18V21H20V3H18Z"/></svg>
            Pricing
        </h5>    
        <svg class="absolute top-2 right-2 fill-white w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
    </a>



    <a id="link-panel-documentation" class="p-4 bg-orange-200 hover:bg-orange-300 rounded-lg relative" href="https://housequests.com/docs">
        <h5 class="text-sm tracking-tight flex flex-row gap-4">
            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M14,17H7V15H14M17,13H7V11H17M17,9H7V7H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/></svg>
            Docs
        </h5>    
        <svg class="absolute top-2 right-2 fill-white w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
    </a>

    <a id="link-panel-tutorials" class="p-4 bg-orange-200 hover:bg-orange-300 rounded-lg relative" href="https://housequests.com/docs/category/-video-tutorials">
        <h5 class="text-sm tracking-tight flex flex-row gap-4">
            <svg class="w-5 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z"/></svg>
            Tutorials
        </h5>    
        <svg class="absolute top-2 right-2 fill-white w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
    </a>


    <a id="link-panel-downloads" class="p-4 bg-orange-200 hover:bg-orange-300 rounded-lg relative" href="https://housequests.com/downloads">
        <h5 class="text-sm tracking-tight flex flex-row gap-4">
            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M12,7.77L18.39,18H5.61L12,7.77M12,4L2,20H22"/></path></svg>
            Downloads
        </h5>    
        <svg class="absolute top-2 right-2 fill-white w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
    </a>


</div>

                </div>

                <!-- Notifications  -->
                <div id="intro-modal-notifications" class="border-t border-black pt-4 flex flex-col gap-4 bg-orange-100 text-xs text-emerald-900 text-black text-center">
    
</div>

            </div>

        </div>

        <!-- Modal Buttons Footer -->
        <div class="flex items-center p-6 space-x-2 rounded-b-lg bg-orange-200 ">
            <button id="popup-modal-intro-close" type="button" class="text-orange-100 bg-emerald-900 hover:bg-white hover:text-emerald-900 m-auto rounded-lg text-sm font-medium px-5 py-2.5 focus:z-10">Close</button>
        </div>

    </div>
</div>