<div class="flex flex-col gap-4 mb-4 bg-orange-100 p-4 rounded-xl">

    <div class="flex flex-col gap-2 col-span-2">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Parameters</h5>
        <p class="text-xs text-gray-500">This uses general REGULAR EXPRESSION SYNTAX. You can use a simple search word or complex regex. e.g. "leasehold" or "/lease/i". All searches are case insensitive by default unless specified in the regex. </p>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Tenure</h5>
        <input id="filter-parameter-tenure" type="text" spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Regular Expression"></textarea>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Title</h5>
        <input id="filter-parameter-title" type="text"  spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Regular Expression"></textarea>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
        <h5 class="inline-flex items-center text-sm font-semibold text-emerald-900 capitalize">Description</h5>
        <input id="filter-parameter-description" type="text"  spellcheck="false" rows="3" class="block p-2.5 w-full text-sm text-amber-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-amber-700 focus:border-amber-700 " placeholder="Regular Expression"></textarea>
    </div>
    
</div>